<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/myicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/myicon.ico" type="image/x-icon" />
    <title>ExamOn : let's automate exam</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgb(37, 150, 190) !important; height:60px !important">
    </div>

    <div class="container body-content">
        @Scripts.Render("~/bundles/jquery")
        @Html.AntiForgeryToken()
        @RenderBody()
        <footer class="py-0">
            <div class="row">
                <div class="d-flex flex-column flex-sm-row justify-content-between py-0 my-4 border-top">
                    <p>© 2020 ExamOn, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><i class="fa fa-twitter" aria-hidden="true"></i></li>
                        <li class="ms-3"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                        <li class="ms-3"><i class="fa fa-facebook" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <h5>Company</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>
                <div class="col-md-9 offset-md-1 mb-3" style="float:right;text-align:right">
                    <form onkeydown="return event.key != 'Enter';">
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of what's new and exciting from us.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label style="padding-top: 7px;" for="newsletter1" class="visually-hidden">Email address</label>&nbsp;&nbsp;
                            <input id="newsletter1" type="text" class="form-control" maxlength="50" placeholder="Email address">&nbsp;&nbsp;
                            <button class="btn btn-primary" onclick="SubscribeMe();" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstraps")
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function SubscribeMe(obj) {
            if ($('#newsletter1').val()) {
                Swal.fire({
                    title: "Newsletter",
                    text: "Email is subscribed to newsletters, Please note: only valid emailid would get news.",
                    icon: "success",
                    footer: $('#newsletter1').val() ? $('#newsletter1').val().trim() : '<p>©ExamOn, Inc. All rights reserved.</p>'
                }).then(() => {
                    $('#newsletter1').val('');
                });
            }
        }
        $(document).ready(function () {
            var hub = $.connection.notificationHub;
            hub.client.addNewMessageToPage = function (isHeader, header, finalBody, showProgress, showFooter, closeModal) {
                if ($('#signalRModal') && $('#signalRModal').hasClass('show')) {
                    handleModal(isHeader, header, finalBody, showProgress, showFooter, closeModal);
                }
                else {
                    var myModal = new bootstrap.Modal(document.getElementById('signalRModal'), {
                        keyboard: false,
                        backdrop: false,
                        focus: false
                    });
                    handleModal(isHeader, header, finalBody, showProgress, showFooter, closeModal);
                    myModal.show('fast');
                }
            };
            $.connection.hub.start()
                .done(function () {
                    console.log("Realtime hub is connected and started successfully!!");
                })
                .fail(function () {
                    console.log("Realtime hub can not be connected!");
                });

            function handleModal(isHeader, header, finalBody, showProgress, showFooter, closeModal) {
                $("#signalRModalTitle").text(header);
                $("#signalRModalBody").html(finalBody);
                isHeader ? $("#signalRModalTitleVisible").show() : $("#signalRModalTitleVisible").hide();
                showProgress ? $("#signalRModalSpinner").show() : $("#signalRModalSpinner").hide();
                showFooter ? $("#signalRModalBodyFooterVisible").show() : $("#signalRModalBodyFooterVisible").hide();
                if (closeModal) { document.getElementById('signalRModal').hide(); }
            }
        });
    </script>
    <div class="modal fade fade-scale" id="signalRModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="signalRModal" aria-hidden="true">
        <div class="modal-dialog animate__animated animate__pulse modal-sm modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header justify-content-center" id="signalRModalTitleVisible">
                    <h5 class="modal-title" id="signalRModalTitle"></h5>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" style="text-align: center; width: 5rem; height: 5rem;" role="status" id="signalRModalSpinner">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div id="signalRModalBody" class="d-flex justify-content-center"></div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="modal-footer" id="signalRModalBodyFooterVisible">
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">OK (ठीक है)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var sc_project = 12955538;
        var sc_invisible = 0;
        var sc_security = "35c4fa6d";
        var scJsHost = "https://";
        document.write("<sc" + "ript type='text/javascript' src='" + scJsHost +
            "statcounter.com/counter/counter.js'></" + "script>");
    </script>
</body>
</html>
